{% extends 'base.html.twig' %}

{% block body_id 'home' %}

{% block body %}
<div class="container blue-grey darken-2" style="min-height: 30em;">
  <div class="text-align center">
      <em><h3>¯\_(ツ)_/¯    Bienvenue dans le Blog    ლ(ಠ_ಠ ლ)</h3></em>
  </div>
  <div class="container">
        <div class="col-xs-6">
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('blog_index') }}">
                        <i class="fa fa-users" aria-hidden="true"></i> Accès Blog
                    </a>
                </p>
        </div>
        <div class="col-xs-6">
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('blog_login') }}">
                        <i class="fa fa-lock" aria-hidden="true"></i> Administration
                    </a>
                </p>
        </div>
    </div>
  </div>

{% endblock %}
